.page-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3.0rem;
    padding-bottom:20px;
    border-bottom: 1px solid #505050;
    color: #505050;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.content {
    padding: 20px;
}