.Box{
    border-top : 5px solid #4267b2;
    border-bottom : 20px solid #4267b2;
    border-left : 20px solid #4267b2;
    border-right : 20px solid #4267b2;
    margin: 20px 20px 50px 20px;
    padding:10px;
    
}

.label {

    margin-top:20px;
    font-size: 11px;
    color: blue;
    font-weight: bold;
}